* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: red;
}

.container {
  background-color: green;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}

header h1 {
  color: white;
  font-size: 3rem;
}

.image-container {
  margin-top: 0.5rem;
  width: 400px;
}
@media (min-width: 800px) {
  .image-container {
    width: 475px;
  }
}

.nav-buttons {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 2rem auto;
}

.nav-button {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: red;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}
.nav-button:hover,
.nav-button:focus {
  background-color: white;
  color: red;
}

footer {
  margin-top: 3rem;
}

footer a {
  color: white;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}
