* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.outer {
  background-color: red;
  height: 100vh;
  padding: 2rem;
}

.container {
  background-color: green;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  height: 90vh;
  position: relative;
}

.heading {
  color: white;
  font-size: 2.5rem;
}
.heading {
  color: white;
  font-size: 1.1rem;
}
@media (min-width: 500px) {
  .heading {
    font-size: 1.25rem;
  }
}
@media (min-width: 650px) {
  .heading {
    font-size: 1.75rem;
  }
}

.image-container {
  margin-top: 1rem;
}

.image {
  width: 200px;
}

@media (min-width: 650px) {
  .image {
    width: 250px;
  }
}

.description {
  margin-top: 0.5rem;
  color: white;
  font-size: 1.25rem;
}
.description {
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
}

.nav-buttons {
  margin-top: 1rem;
}

.btn {
  padding: 1rem 2rem;
  color: white;
  background-color: red;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.5rem 1rem;
  color: white;
  background-color: red;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: red;
  background-color: white;
}

.next-btn {
  margin-left: 1rem;
}
@media (min-width: 650px) {
  .next-btn,
  .prev-btn {
    position: absolute;
  }
}
@media (min-width: 650px) {
  .prev-btn {
    top: 50%;
    left: 50px;
  }
}
@media (min-width: 650px) {
  .next-btn {
    top: 50%;
    right: 50px;
  }
}

.website-link {
  display: inline-block;
  margin-top: 1.5rem;
  color: white;
  font-size: 1.5rem;
}
.website-link {
  display: inline-block;
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
}
@media (min-width: 650px) {
  .website-link {
    margin-top: -0.5rem;
  }
}
