* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: red;
  text-align: center;
}

@media (min-width: 800px) {
  body {
    max-height: 100vh;
  }
}

.container {
  background-color: green;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
  max-width: 900px;
  margin: 1rem auto;
}

header {
  width: 100%;
  padding: 0.5rem;
}

header h1 {
  color: white;
  font-size: 1.25rem;
}

.image-container {
  margin-top: 0.5rem;
}
@media (min-width: 800px) {
  .image-container {
    display: inline-block;
    width: 350px;
/*     max-height: 500px; */
  }
}

.description {
  color: white;
  margin-top: 1em;
}

@media (min-width: 800px) {
  .description {
    font-size: 1.25rem;
  }
}

.nav-buttons {
  display: flex;
  width: 85%;
  justify-content: space-around;
  margin: 2rem auto;
}

.nav-button {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: red;
  color: white;
  border: none;
  padding: 1rem 1.25rem;
  cursor: pointer;
}
.nav-button:hover,
.nav-button:focus {
  background-color: white;
  color: red;
}

footer {
  margin-top: 1.5rem;
}

footer a {
  color: white;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}
